<div class=" h-screen flex justify-center items-center">
    <div class=" text-center">
        <h1 class=" text-6xl text-green-600 font-bold font-mono">500</h1>
        <p class=" text-xl text-gray-800 font-semibold">Temporarily unavailable</p>
        <p class=" text-gray-700">Sorry, but there was an error, try again later</p>
    </div>
</div>